@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet');

@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Roboto', 'serif';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', 'sans-serif';
  }
}

:root {
  --primary-color: '#233000';
  --text-desc: '#4D4D4D';
  background-color: #ebf0e4;
}

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeSpeed;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}
.slick-slide {
  width: 300px !important;
  display: inline-block !important;
  margin-left: 10px !important;
  height: 300px !important;
}

.custom-slider .slick-slide {
  padding: 0 10px;
}
