@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Playfair Display', 'serif';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'sans-serif';
  }
}

:root {
  --primary-color: '#233000';
  --text-desc: '#4D4D4D';
}

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeSpeed;
}
