@import 'tailwindcss';

@theme {
  --color-primary: #233000;
  --color-secondary: #fff671;
  --color-third: #9caa00;
  --color-descText: #4d4d4d;
  --color-black: #000000;
  --color-white: #ffffff;
}
